<nav class="navbar sticky-top navbar-dark navbar-expand-lg" id="navBar">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#" id="nav-logo">Navbar</a> -->
        <img src="assets/images/logo.png" height="30px" width="30px" alt="">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item mx-2">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item mx-2" id="font">
                    <a class="nav-link active" aria-current="page" href="#">About</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link active" aria-current="page" href="#">Contact</a>
                </li>
            </ul>
            <!-- <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn  btn-success" type="submit">Search</button>
            </form> -->

            <form class="d-flex align-items-center">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <!-- <button class="btn  btn-success" type="submit">Search</button> -->
                <i class="material-icons text-light">shopping_cart</i>
                <span>1</span>
            </form>
        </div>
    </div>
</nav>

