#navBar {
    /* background-color: #993441; */
    background-color: #004C3F;
}

form{
    position: relative;
}

#nav-logo {
    margin-left: 5rem;
}

span {
    color: aliceblue;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: brown;
    text-align: center;
    position: absolute;
    right: -4%;
    top: -7%;
    font-size: 12px;
}