<!-- <footer class="text-white text-center text-lg-start" id="footer-top">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Footer Content</h5>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                    molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
                    voluptatem veniam, est atque cumque eum delectus sint!
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled mb-0">
                    <li class="mb-2">
                        <a href="#!" class="text-white text-decoration-none">Link 1</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white text-decoration-none">Link 2</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white text-decoration-none">Link 3</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white text-decoration-none">Link 4</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-2">Links</h5>

                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="#!" class="text-white text-decoration-none">Link 1</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white text-decoration-none">Link 2</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white text-decoration-none">Link 3</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white text-decoration-none">Link 4</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: #008060;" >
        <span> © 2020 Copyright : </span>
        <a class="text-white text-decoration-none" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
</footer> -->

<footer class="text-white text-center text-lg-start" id="footer-top">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h6 class="text-uppercase">Get to know us</h6>
                <ul class="list-unstyled mb-0 fontsize-4" >
                    <li class="mb-2">
                        <a href="#!" class="text-white text-decoration-none">About Us</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white text-decoration-none">Terms of use</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white text-decoration-none">Mail Us</a>
                    </li>
                </ul>
            </div>
           
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h6 class="text-uppercase">Connect with us</h6>
 
                <ul class="list-unstyled mb-0">
                    <li class="mb-2">
                        <a href="#!" class="text-white text-decoration-none">Facebook</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white text-decoration-none">Instagram</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white text-decoration-none">Twitter</a>
                    </li>
                   
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h6 class="text-uppercase mb-2">Let Us Help You</h6>
 
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="#!" class="text-white text-decoration-none">Your Account</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white text-decoration-none">Help</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white text-decoration-none">Covid-19 and Start&Stop</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h6 class="text-uppercase mb-2">Registered Office Address:</h6>
                <p>Stop&Shop Private Limited,Plot No 115/32, Plot No 1, Near NanakramGuda, Gachibowli-50002.</p>
 
               
            </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: #008060;" >
        <p>Conditions of Use & Sale &nbsp; &nbsp; Privacy Notice &nbsp; &nbsp; Intrest-Based</p>
        <span> © 2020 Copyright : </span>
        <a class="text-white text-decoration-none" href="https://mdbootstrap.com/">Start&Stop.com,Inc. or its affiliates</a>
    </div>
</footer>