<!-- This is container -->
<div class="container-fluid my-3">
    <div class="row">
        <div class="col" id="left-card-container">
            <h3 style="text-align: center; margin: 1.5rem 0rem;">All Products</h3>
            <div class="row justify-content-center">
                <div class="col-lg-2 col-md-6 col-sm-12 mb-5 mx-4" *ngFor="let item of items; let i = index" id="cart">
                    <div class="card" style="width: 100%;">
                        <img src="{{item.itemUrl}}" class="card-img-top" alt="..." style="height: 12rem; width: 180px;">
                        <div class="card-body">
                            <h6 class="card-title">{{item.title}}</h6>
                            <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis; max-width: 100ch;"
                                id="desc">{{item.desc}}</p>
                            <p id="price">Price : {{item.price | currency:'INR'}}</p>
                            <a routerLink="../cards" class="btn btn-primary" (click)="addCartItems(item, i)">Add cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>