.material-icons {
    cursor: pointer;
    font-size: 35px;
    color: red;
} 

.add-remove-item{
    display: flex;
    align-items: center;
}

.add-remove-item i{
    font-size: 1rem;
    color: white;
    background-color: black;
    padding: 0.1rem;
    border-radius: 10%;
    margin: 0.5rem;
}

.quantity-count{
    border: 1px solid black;
    padding: 0rem 0.3rem;
    font-size: 0.75rem;
}
